html{
    font-family: Georgia, serif;
  }

  
.logo-grade-plus{
    fill: white;
  }

h1 {
    color: blue;
    text-align: center;
  }

.container {
    display: flex;
    height: 100vh;
  }

.redsection {
    flex: 0.3;
    background-color:  #b50909;
    flex-direction: column;
    border-radius: 20px;
    line-height: 0%;
  }

.whitesection {
    flex: 1;
  }

.button-circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #b50909;
    color: #fff; 
    border-color: black;
}

.button-sair{
    color: #b50909;
    border-radius: 15px;
    max-width: 80px; 
    width: 70%;
    height: 40px;
    margin: 10px auto;
    background-color: #fff;
    border-style: groove;
    border: none;
}

.entrar-button{
    color: white;
    border-radius: 15px;
    max-width: 170px; /* Define a largura máxima do botão */
    width: 100%; /* Para preencher o espaço disponível na largura */
    height: 40px;
    margin: 10px auto;
    background-color: #b50909;
    border-style: groove;
    border-color: white;
}
  

  